body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #224430;
    text-align: center;
    padding: 10px;
}

header p {
    color: #BEE7E2;
    float: left;
}

header 

.logo {
    height: 35%;
    width: 35%;
}

.landingpageImg img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* .landingpageImg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.mulbjergeImg {
    background-image: url("../images/Mulbjerge-05.jpg");
} */

.tur {
    margin: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.vandre {
    border-left: 2px solid #224430;
    padding: 0 20px;
    margin: 0;
}

h1 {
    font-size: 20px;
    padding-top: 0;
    margin: 0 0 10px;
}

h2 {
    font-size: 15px;
}

p {
    margin-bottom: 0;
}

nav {
    background-color: #4E6959;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

nav ul {
    margin: auto;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 20px 19vw;
}

.landingpageNav {
    display: none;
}

.activePage {
    background-color: #224430;
}

#vandretur {
    display: block;
}

#cykeltur {
    display: none;
}

.startside {
    display: none;
}

.ruteNav {
    display: block;
}

.rute img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.ruteText {
    padding: 20px;
}

.ruteText p {
    font-size: 20px;
    padding-bottom: 80px;
}

.img1 {grid-area: img1};
.img2 {grid-area: img2};
.img3 {grid-area: img3};
.img4 {grid-area: img4};

.ruteGalleri img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.ruteGalleri {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 
    "img1 img2 img3 img4";
}

